<form [formGroup]="updateDataForm" (ngSubmit)="update()">
    <div class="col-md-10 form-group">
        <h2>
            <label style="text-align: center">Edit Product Details</label>
        </h2>
        <br>
        <div id="for" class="form-group">   
            <div class="col-md-12">
                <label>Product Name <span style="color: red;">*</span></label>
                <input type="text" id="productName" class="form-control col-md-8" formControlName="productName" placeholder="Product Name">
                <div *ngIf="updateDataForm.controls['productName'].touched && !updateDataForm.controls['productName'].valid" class="cross-validation-error-message alert alert-danger">
                  <span *ngIf="updateDataForm.controls['productName'].hasError('required')">
                    <h6 style="color: red"> Product Name is required</h6>
                  </span>
                  <span *ngIf="updateDataForm.controls['productName'].hasError('maxlength')">
                    <h6>max length is 15</h6>
                  </span>
                  <span *ngIf="updateDataForm.controls['productName'].hasError('minlength')">
                    <h6>min length is 3</h6>
                  </span>
                </div>
                <br>
            </div>
           <div class="col-md-12">
                <br>
                <label>Product Cost<span style="color: red;">*</span></label>
                <input type="number" id="productCost" formControlName="productCost" class="form-control col-md-8" placeholder="Product Cost">
                <div *ngIf="updateDataForm.controls['productCost'].touched && !updateDataForm.controls['productCost'].valid" class="cross-validation-error-message alert alert-danger">
                  <span *ngIf="updateDataForm.controls['productCost'].hasError('required')">
                    <h6 style="color: red"> Product Cost is required</h6>
                  </span>
                </div>
                <br>
            </div>
            <div class="col-md-12">
              <br>
              <label>Description<span style="color: red;">*</span></label>
              <textarea rows="4" placeholder="Product Description" formControlName="description" id="description" class="form-control col-md-8"></textarea>
              <div *ngIf="updateDataForm.controls['description'].touched && !updateDataForm.controls['description'].valid" class="cross-validation-error-message alert alert-danger">
                <span *ngIf="updateDataForm.controls['description'].hasError('required')">
                  <h6 style="color: red"> Please enter Product Description </h6>
                </span>
              </div>
              <br>
          </div>
          <div class="col-md-12">
                <br>
                <label>Shipping Cost</label>
                <input type="number" id="shippingCost" formControlName="shippingCost"  class="form-control col-md-8" placeholder="Shipping Cost" value="50">
                <div *ngIf="updateDataForm.controls['shippingCost'].touched && !updateDataForm.controls['shippingCost'].valid" class="cross-validation-error-message alert alert-danger">
                  <span *ngIf="updateDataForm.controls['shippingCost'].hasError('minlength')">
                    <h6>min length is 2</h6>
                  </span>
                </div>
                <br>
            </div>
            <div class="col-md-12">
                <label>Delievery Status</label>
                <input type="text" id="delStatus" formControlName="delStatus" class="form-control col-md-8" value="Shipped">
                <br>
            </div>
            <div class="col-md-6">
                <label>Upload <span style="color: red;">*</span></label>
                <input type="file" id="imgFile"  (change)="upload($event)"class="col-md-8" #fileInput>
                <img [src]="imgurl" *ngIf='imgurl' placeholder="image" width="200px" height="150px">
                <br>
            </div>
            <br>
            <br>
        </div>
        
        <button type="submit" class="btn btn-primary" id="btnAdd" [disabled]="!updateDataForm.valid" >Update Product</button>
    </div>
</form>