
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body >
<div class="wrapper" >
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
        <h2>Welcome </h2>
        <h3>{{name}}</h3>
          <h4 class="fa fa-tachometer"> Administrator Dashboard</h4>
      </div>

      <ul class="list-unstyled components">
          <li class="active">
            <a routerLink="/dashboard"  class="fa fa-home fa-lg" > Home</a> 
          </li>
          <li>
              <div class="dropdown">
                  <button routerLink="/dashboard/manageUser" class="dropbtn fa fa-users" style="display: inline-block;"> Manage Users <span class="fa fa-angle-down"></span></button>
                  <div class="dropdown-content">
                    <a routerLink="/dashboard/admin/addUser">Add User</a>
                    <a routerLink="/dashboard/admin/manageUser">List Users</a>
                  </div>
                </div>
            <!-- <a routerLink="/dashboard/manageUser" >Manage Users</a> -->
        </li>

        <!-- <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
            </ul>
          </div> -->
          <li>
                <div class="dropdown">
                        <button routerLink="/dashboard/manageproduct" class="dropbtn fa fa-cubes" style="display: block;"> Manage Products <span class="fa fa-angle-down"></span></button>
                        <div class="dropdown-content">
                          <a routerLink="/dashboard/admin/addproduct">Add Product</a>
                          <a routerLink="/dashboard/admin/listProduct">List Product</a>
                        </div>
                      </div>
                      
              <!-- <a routerLink="/dashboard/manageproduct">Manage Products</a> -->
          </li>
          <li>
              <div class="dropdown">
                      <button routerLink="/dashboard/manageblog" class="dropbtn fa fa-id-card" style="display: block;"> Manage Blogs <span class="fa fa-angle-down"></span></button>
                      <div class="dropdown-content">
                        <a routerLink="/dashboard/admin/addblog">Add Blog</a>
                        <a routerLink="/dashboard/admin/listblog">List Blogs</a>
                      </div>
                    </div>
                    
            <!-- <a routerLink="/dashboard/manageproduct">Manage Products</a> -->
        </li>
        <li>
          <a [routerLink]="['/dashboard/admin/editprofile',userId]" class="fa fa-user">  Edit Profile</a>
      </li>
          <li>
            <a (click)="onLogout()" class="fa fa-bell"> Log Out</a>
        </li>
          <li>
              <a routerLink="/dashboard/admin" class="fa fa-cog"> Settings</a>
          </li>
      </ul>
  </nav>

</div>
</body>