@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
     min-height: 103vh;
    //  mx-height: 120vh;
}

#sidebar.active {
    margin-left: -250px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #DADADA;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #1C4E80;
    color: #DADADA;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #20283E;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #1C4E80;
}

#sidebar ul p {
    color: #DADADA;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    padding-left: 25px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li button {
    padding: 10px;
    padding-left: 25px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7E909A;
    background: #DADADA;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #DADADA;
    background: #1C4E80;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #20283E;
}

span{
 padding-left: 10px;
}

// CSS for dropdown list 
.dropbtn {
    background-color: #1C4E80;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #20283E;}