<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body class="forgotPasswordForm" style="background:url('/assets/electrovilla_images/l9.jpeg');background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;">

  <br>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2 style="text-align:center ; color: #3F51B5">Reset Password</h2>
        <p>Please enter New Password</p>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="FinalResetPassword()">
        <div class="form-group">
          <br>
          <span class="ui-float-label">
            <input id="password" formControlName="password" type="password" class="form-control" size="30" pTooltip="Enter your password"
              pInputText>
            <label style="color:#3F51B5" for="float-input">Password</label>
          </span>
          <div *ngIf="resetPasswordForm.controls['password'].touched && !resetPasswordForm.controls['password'].valid" class="cross-validation-error-message alert alert-danger">
            <span *ngIf="resetPasswordForm.controls['password'].hasError('required')">
              <h6 style="color: red"> Password is required</h6>
            </span>
            <span *ngIf="resetPasswordForm.controls['password'].hasError('maxlength')">
              <h6 style="color: rebeccapurple">Password should be less than 15character</h6>
            </span>
            <span *ngIf="resetPasswordForm.controls['password'].hasError('minlength')">
              <h6 style="color: rebeccapurple">Password should be atleast minimum of 6 characters</h6>
            </span>
          </div>
          <br>
          <br>
          <br>
          <!-- <div class="forgot">
            <a routerLink="auth/forgotPassword">Forgot password?</a>
          </div> -->
          <span>
            <input type="Submit" class="btn btn-primary" [disabled]="!resetPasswordForm.valid" id="btnAdd" value="Reset my Password">
          </span>
        </div>
      </form>
    </div>
    <p class="botto-text">
      <strong>
        <h6>Designed by Saurabh Udapure </h6>
      </strong>
    </p>
  </div>
  <section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br><br><br>
  </section>
</body>