<section>
  <div class="row">
    <div class="col-md-12">
      <h2 class="pb-3 mb-4 pt-3 border-bottom text-center">
        Blog Listing
      </h2>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12" *ngFor="let blog of bloglisting">
          <br>
          <hr>
          <br>
          <div class="card flex-md-row mb-4 shadow p-3 h-md-250" id="blogId">
            <div class="card-body d-flex flex-column align-items-start">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <strong class="d-inline-block mb-2 text-primary mr-1 pr-1">
                      <h4>{{blog.title}}</h4>
                    </strong>
                    <br>
                    <span class="pr-1 ml-1 mb-1 text-muted small blogdate">{{blog.date | date:"fullDate"}}</span>
                    <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [180x150]" src="{{blog.imageUrl}}" style="width: 200px; height: 200px;">
                    <br><br><br><br>
                   <span class="ml-1"> <p-rating [ngModel]="blog.rating" readonly="true" stars="5" [cancel]="false"></p-rating></span>
                  </div>
                  <div class=" col-md-4">
                    <strong class="d-inline-block mb-2 text-primary col-md-offset mr-3 ml-4">
                      <h4>Description</h4>
                    </strong>
                    <p class="card-text mb-auto text-muted text-justify ml-4 mr-5">{{blog.description}}</p>
                  </div>
                  <div class=" col-md-4">
                    <strong class="d-inline-block mb-2 text-primary col-md-offset ml-2">
                      <h4>Comments</h4>
                    </strong>
                    <!-- <p class="card-text mb-auto">{{blog.comment}}</p> -->
                    <p-scrollPanel [style]="{width: '110%', height: '400px'}">
                      <div *ngFor="let comment of blog.comments">
                        <p-card title="" subtitle= "{{comment.userName}}" [style]="{width: '320px'}" styleClass="ui-card-shadow">
                          <p>{{comment.comment}}
                          </p>
                          <p-footer>
                            {{blog.discription}}
                            <p-rating [ngModel]="comment.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
                          </p-footer>
                        </p-card>
                        <br>
                        <hr style="width: 330px;">
                      </div>
                      <br>

                    </p-scrollPanel>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <form [formGroup]="addCommentForm" (ngSubmit)="addComment(blog._id)">
              <span>
                <h3 class="first"> {{val1}}</h3>
                <p-rating formControlName="rating"></p-rating>
                <!-- <p-rating [(ngModel)]="val1" formControlName="rating"></p-rating> -->
              </span>
              <br>
              <span class="ui-float-label">
                <textarea id="comment" rows="3" formControlName="comment" type="text" class="form-control col-md-8" size="30" pTooltip="Add Comment"
                  pInputText></textarea>
                <label for="float-input" class="d-inline-block text-primary"> Add Comment </label>
              </span>
              <br>
              <button type="submit" class="btn btn-primary" id="btnAdd" [disabled]="!addCommentForm.valid">Comment</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>