.blogdate{
text-align: center
}

#blogId{
    height: 600px;
}

// #blogId{
//     -webkit-transition: all 1s ease;
//          -moz-transition: all 1s ease;
//           -ms-transition: all 1s ease;
//               transition: all 1s ease;
//             }
// #blogId:hover{
//     -ms-transform: scale(1.05); /* IE 9 */
//     -webkit-transform: scale(1.05); /* Safari 3-8 */
//     transform: scale(1.05); 
// }
