<form [formGroup]="editBlogForm" (ngSubmit)="update()">
  <div class="col-md-10 form-group">
    <h2>
      <label style="text-align: center">Edit Blog</label>
    </h2>
    <br>
    <div id="for" class="form-group">
      <div class="col-md-12">
        <span class="ui-float-label">
            <input id="blogtitle" formControlName="title" type="text" class="form-control col-md-8" size="30" pTooltip="Enter Blog Title" pInputText>
            <label style="color:rebeccapurple" for="float-input">Blog Title <span style="color: red;">*</span></label>
          </span>
        <div *ngIf="editBlogForm.controls['title'].touched && !editBlogForm.controls['title'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="editBlogForm.controls['title'].hasError('required')">
            <h6 style="color: red"> Blog Title is required</h6>
          </span>
          <span *ngIf="editBlogForm.controls['title'].hasError('minlength')">
            <h6>min length is 3</h6>
          </span>
        </div>
        <br>
      </div>
      <div class="col-md-12">
        <br>
             <span class="ui-float-label">
            <textarea id="description" rows="4" formControlName="description" type="text" class="form-control col-md-8" size="30" pTooltip="Enter Blog Description" pInputText></textarea>
            <label style="color:rebeccapurple" for="float-input">Description <span style="color: red;">*</span></label>
          </span>
        <div *ngIf="editBlogForm.controls['description'].touched && !editBlogForm.controls['description'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="editBlogForm.controls['description'].hasError('required')">
            <h6 style="color: red"> Please enter Blog Description </h6>
          </span>
        </div>
        <br>
      </div>

      <div class="col-md-12">
        <br>
        <div class="col-md-12">
          <label>Upload
            <span style="color: red;">*</span>
          </label>
          <input type="file" id="imgFile" (change)="upload($event)" class="col-md-8" pTooltip="Select File to Upload" #fileInput>
          <img [src]="imgurl" *ngIf='imgurl' placeholder="image" width="200px" height="150px">
          <br>
        </div>
        <br>
      </div>

      <button type="submit" class="btn btn-primary" id="btnAdd" [disabled]="!editBlogForm.valid">Post</button>
    </div>
    </div>
</form>
