<body class="LoginForm" style="background:url('/assets/electrovilla_images/l9.jpeg');background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;">

  <br>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2 style="text-align:center ; color: #3F51B5">SignUp Form</h2>
      </div>
      <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <div class="col-md-10 form-group">
          <!-- <h2 style="text-align: center"> SignUp Form</h2> -->
          <div id="for" class=" form-group">
            <br>
            <span class="ui-float-label">
              <input id="FullName" formControlName="name" type="text" class="form-control " size="30" pTooltip="Enter your Full Name" pInputText>
              <label style="color:rebeccapurple" for="float-input">Full Name</label>
            </span>
            <div *ngIf="signUpForm.controls['name'].touched && !signUpForm.controls['name'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="signUpForm.controls['name'].hasError('required')">
                <h6 style="color: red"> FullName is required</h6>
              </span>
              <span *ngIf="signUpForm.controls['name'].hasError('maxlength')">
                <h6>max length is 30</h6>
              </span>
              <span *ngIf="signUpForm.controls['name'].hasError('minlength')">
                <h6>min length is 2</h6>
              </span>
            </div>
            <br>
            <span class="ui-float-label">
              <input id="email" formControlName="email" type="text" class="form-control" size="30" pTooltip="Enter your Email" pInputText>
              <label style="color:rebeccapurple " for="float-input">Email</label>
            </span>
            <div *ngIf="signUpForm.controls['email'].touched && !signUpForm.controls['email'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="signUpForm.controls['email'].hasError('required')">
                <h6 style="color: red"> Email is required</h6>
              </span>
              <span *ngIf="signUpForm.controls['email'].hasError('email')">
                <h6 style="color: red"> Please Enter valid email</h6>
              </span>
            </div>

            <br>
            <span class="ui-float-label">
              <input id="username" formControlName="username" type="text" class="form-control" size="30" pTooltip="Enter your Username"
                pInputText>
              <label style="color:rebeccapurple " for="float-input">Username</label>
            </span>
            <div *ngIf="signUpForm.controls['username'].touched && !signUpForm.controls['username'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="signUpForm.controls['username'].hasError('required')">
                <h6 style="color: red"> Username is required</h6>
              </span>
              <span *ngIf="signUpForm.controls['username'].hasError('maxlength')">
                <h6>max length is 15</h6>
              </span>
              <span *ngIf="signUpForm.controls['username'].hasError('minlength')">
                <h6>min length is 3</h6>
              </span>
            </div>
            <br>
            <span class="ui-float-label">
              <input id="password" formControlName="password" type="password" class="form-control" size="30" pTooltip="Enter your password"
                 pInputText>
                <!-- ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}/^[a-zA-Z_\- ]+$/$/" pInputText> -->

                
              <label style="color:rebeccapurple " for="float-input">Password</label>
            </span>
            <div *ngIf="signUpForm.controls['password'].touched && !signUpForm.controls['password'].valid" class="cross-validation-error-message alert alert-danger"
              ng-messages="registerForm.userPassword.$error">
              <!-- <span>
                <div ng-message="pattern" class="text-muted">Password should be atleast 8 characters long and should contain one number,one character and one special
                  character , no space is allowed 
                </div>
              </span> -->
              <span *ngIf="signUpForm.controls['password'].hasError('required')">
                <h6 class="text-muted" style="color: red">  Password is required  </h6>
              </span>
              <span *ngIf="signUpForm.controls['password'].hasError('pattern')">
                  <h6 style="color: red">Password should be atleast 8 characters long and should contain one number,one character and one special
                      character , no space is allowed</h6>
                </span>
              <span *ngIf="signUpForm.controls['password'].hasError('maxlength')">
                <h6>max length is 15</h6>
              </span>
              <span *ngIf="signUpForm.controls['password'].hasError('minlength')">
                <h6>min length is 8</h6>
              </span>
            </div>
          </div>
          <br>
          <button type="Submit" class="btn btn-primary" [disabled]="!signUpForm.valid" id="btnAdd">Register</button>
        </div>
      </form>
      <br>
      <p class="botto-text">
        <strong>
          <h6>Designed by Saurabh Udapure </h6>
        </strong>
      </p>
    </div>
  </div>
  <section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </section>
</body>