<body style="background:url('/assets/images/p1.png');background-size: contain;background-attachment: fixed;">
  <div class="wrapper" >
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Dashboard</h3>
        </div>
  
        <ul class="list-unstyled components">
            <p>Dummy Heading</p>
            <li class="active">
              <a routerLink="/dashboard/admin">Home</a>
            </li>
            <li>
                <a href="dashboardadmin/manageUser">Manage Users</a>
            </li>
            <li>
                <a routerLink="/manageproduct">Manage Products</a>
            </li>
            <li>
              <a (click)="onLogout()">Log Out</a>
          </li>
            <li>
                <a href="#">Settings</a>
            </li>
        </ul>
    </nav>
  
  </div>
  </body>