<form [formGroup]="editUserForm" (ngSubmit)="onEdit()">
  <div class="col-md-10 form-group">
    <label style="text-align: center">Edit User Details</label>
    <br>
    <div id="for" class=" form-group">
      <br>
      <div class="col-md-12">
        <label>Full Name</label>
        <input type="text" id="FullName" formControlName="name" class="form-control " placeholder="FullName">
        <div *ngIf="editUserForm.controls['name'].touched && !editUserForm.controls['name'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="editUserForm.controls['name'].hasError('required')">
            <h6 style="color: red"> FullName is required</h6>
          </span>
          <span *ngIf="editUserForm.controls['name'].hasError('maxlength')">
            <h6>max length is 30</h6>
          </span>
          <span *ngIf="editUserForm.controls['name'].hasError('minlength')">
            <h6>min length is 2</h6>
          </span>
        </div>
        <br>
      </div>
      <div class="col-md-12">
        <br>
        <label>Email</label>
        <input type="text" id="email" formControlName="email" class="form-control col-md-6" placeholder="Email">
        <div *ngIf="editUserForm.controls['email'].touched && !editUserForm.controls['email'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="editUserForm.controls['email'].hasError('required')">
            <h6 style="color: red"> Email is required</h6>
          </span>
          <span *ngIf="editUserForm.controls['email'].hasError('email')">
            <h6 style="color: red"> Please Enter valid email</h6>
          </span>
        </div>
        <br>
      </div>
      <div class="col-md-12">
        <br>
        <label>Password</label>
        <input type="password" id="password" formControlName="password" class="form-control col-md-6" placeholder="Password">
        <div *ngIf="editUserForm.controls['password'].touched && !editUserForm.controls['password'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="editUserForm.controls['password'].hasError('required')">
            <h6 style="color: red"> Password is required</h6>
          </span>
          <span *ngIf="editUserForm.controls['password'].hasError('maxlength')">
            <h6>max length is 15</h6>
          </span>
          <span *ngIf="editUserForm.controls['password'].hasError('minlength')">
            <h6>min length is 8</h6>
          </span>
        </div>
        <br>
      </div>
      <div class="col-md-12">
        <br>
        <label>Role</label>
        <input type="text" id="role" formControlName="role" class="form-control col-md-6" placeholder="Role">
        <div *ngIf="editUserForm.controls['role'].touched && !editUserForm.controls['role'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="editUserForm.controls['role'].hasError('required')">
            <h6 style="color: red"> Please Enter Role</h6>
          </span>
        </div>
        <br>
      </div>
      <br>
      <br>
      <br>
    </div>
    <br>
    <button type="Submit" class="btn btn-primary" id="btnAdd">Update</button>
  </div>
</form>