<body style="background:url('/assets/electrovilla_images/l9.jpeg');background-size: cover;background-attachment: fixed; background-repeat: no-repeat">
<div class="row">
  <div class="col-md-">
    <app-dashboard-display></app-dashboard-display>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>

</div>
 

</body>