// input,
// .btn {
//   width: 50%;
//   padding: 12px;
//   border: none;
//   border-radius: 4px;
//   margin: 5px 0;
//   opacity: 0.85;
//   display: inline-block;
//   font-size: 17px;
//   line-height: 20px;
//   text-decoration: none; /* remove underline from anchors */
// }

// input:hover,
// .btn:hover {
//   opacity: 1;
// }

// input[type=submit] {
//     background-color: #4CAF50;
//     color: white;
//     cursor: pointer;
//     width: 20%
//   }
  
//   input[type=submit]:hover {
//     background-color: #45a049;
//   }

//   label{
//     width: 100%;
//   }
//   h6{
//     color: rebeccapurple;
//   }
//   form{
//     text-align: center;
//     margin: 2%;
//     padding: 20px
//   }



// style="background:url('/assets/electrovilla_images/l9.jpeg'); background-size:cover ;background-attachment: fixed; background-repeat:no-repeat ;"

:host ::ng-deep button {
  margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
  color: #ffffff;
  background: #FC466B;
  background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-close-icon {
  color: #ffffff;
}

.form-heading { color:#fff; font-size:23px;}
.panel h2{ color:#444444; font-size:18px; margin:0 0 8px 0;}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ text-align:center;}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}
