<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body class="LoginForm" style="background:url('/assets/electrovilla_images/l9.jpeg');background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;">

      <br>
      <div class="login-form">
        <div class="main-div">
          <div class="panel">
            <h2 style="text-align:center ; color: #3F51B5">Log in</h2>
            <p>Please enter your username and password</p>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <span class="ui-float-label">
                <input id="username" formControlName="username" type="text" class="form-control" size="30" pTooltip="Enter your username"
                  pInputText>
                <label style="color:#3F51B5" for="float-input">Username</label>
              </span>
              <div *ngIf="loginForm.controls['username'].touched && !loginForm.controls['username'].valid" class="cross-validation-error-message alert alert-danger">
                <span *ngIf="loginForm.controls['username'].hasError('required')">
                  <h6 style="color: red"> Username is required</h6>
                </span>
                <span *ngIf="loginForm.controls['username'].hasError('maxlength')">
                  <h6>max length is 15</h6>
                </span>
                <span *ngIf="loginForm.controls['username'].hasError('minlength')">
                  <h6>min length is 3</h6>
                </span>
              </div>
              <br>
              <span class="ui-float-label">
                <input id="password" formControlName="password" type="password" class="form-control" size="30" pTooltip="Enter your password"
                  pInputText>
                <label style="color:#3F51B5" for="float-input">Password</label>
              </span>
              <div *ngIf="loginForm.controls['password'].touched && !loginForm.controls['password'].valid" class="cross-validation-error-message alert alert-danger">
                <span *ngIf="loginForm.controls['password'].hasError('required')">
                  <h6 style="color: red"> Password is required</h6>
                </span>
                <span *ngIf="loginForm.controls['password'].hasError('maxlength')">
                  <h6 style="color: rebeccapurple">Password should be less than 16character</h6>
                </span>
                <span *ngIf="loginForm.controls['password'].hasError('minlength')">
                  <h6 style="color: rebeccapurple">Password should be atleast min of 3 characters</h6>
                </span>
              </div>
              <br>
              <div class="forgot">
                <a routerLink="/auth/forgotPassword">Forgot password?</a>
              </div>
             
              <span>
                <input type="Submit" class="btn btn-primary" [disabled]="!loginForm.valid" id="btnAdd" value="Login">
              </span>
              <br>
              <div class="text-muted mt-3">
                <a routerLink="/auth/signup" style=" color: inherit ;">SignUp </a>
              </div>
            </div>
          </form>
  
        </div>
        <p class="botto-text"> <strong> <h6>Designed by Saurabh Udapure </h6> </strong></p>
      </div>
  <section>
      <br><br><br><br><br><br><br><br><br>
  </section>
</body>
<!-- <app-global-footer></app-global-footer> -->

<!-- 
 <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Username"  name="Username" required> 
            [(ngModel)]="username" 
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" name="Password" required>
          [(ngModel)]="password"
         </mat-form-field></td>
      </tr></table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="login()" color="primary">Login</button>
  </mat-card-actions>
</mat-card> -->