<!-- Grid Image View -->
<section>

  <p-carousel headerText="" [value]="products" numVisible="3" easing="easeOutStrong" autoplayInterval="7000">
    <ng-template let-product pTemplate="products" >
      <div class="ui-grid ui-grid-responsive" style="height: 590px">
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">
            <img src="../../../../../../assets/electrovilla_images/ld3.gif" width="150px" style="margin: 0px 150px">
            <span>
              <h5 class="text-center text-muted">{{product.pname}} </h5>
              <h6 class="mb-5 text-center text-danger">{{product.discount}}</h6>
            </span>
            <div class="ml-5">
              <img src="{{product.img}}" alt="New york" style="width:320px;height: 300px ;">
            </div>
            <img src="../../../../../../assets/electrovilla_images/ld6.gif" width="150px" style="margin: 0px 150px" class="mt-5">

          </div>
        </div>
      </div>
    </ng-template>
  </p-carousel>

</section>
<section>
  <div class="row">
    <div class="col-md-12 ">
      <h2 class="pb-3 mb-4 pt-3 border-bottom text-center ">
        Product Pallete
      </h2>
    </div>


    <div class="container pt-5">
      <div class="row">
        <div class="col-md-6" *ngFor="let product of productlisting">
          <div class="card flex-md-row mb-4 shadow p-3 mb-5 bg-white rounded" id="cardId">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">
                <h4>{{product.productName}}</h4>
              </strong>
              <h6 class="mb-0">
                <strong class="text-primary">
                  <h5>Price :
                    <a class="text-dark" href="#">{{product.productCost}}</a>
                  </h5>
                </strong>
              </h6>
              <div class="mb-1 text-muted small">Nov 12</div>
              <p-scrollPanel [style]="{width: '100%', height: '300px'}">
                <p class="card-text mb-auto text-muted ">{{product.description}}</p>
              </p-scrollPanel>
              <div>
                <p-rating [ngModel]="product.rating" readonly="true" stars="5" [cancel]="false"></p-rating>
              </div>
              <button class="btn btn-outline-primary btn-sm" role="button" (click)="addToCart(product._id,product.productCost)">Add to Cart</button>

            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{product.imageUrl}}" style="width: 200px; height: 250px;">
          </div>
        </div>
      </div>
      <!-- <div class="col-md-6">
             <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                   <strong class="d-inline-block mb-2 text-success">Health</strong>
                   <h6 class="mb-0">
                      <a class="text-dark" href="#">Food for Thought: Diet and Brain Health</a>
                   </h6>
                   <div class="mb-1 text-muted small">Nov 11</div>
                   <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                   <a class="btn btn-outline-success btn-sm" href="http://www.jquery2dotnet.com/">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/nature" style="width: 200px; height: 250px;">
             </div>
          </div> -->
    </div>
  </div>
</section>