<section>
  <div class="row">
    <div class="col-md-12 text-muted">
      <h2 class="pb-3 mb-4 pt-3 border-bottom text-center">
        Order Summary
      </h2>
    </div>
   
    <div class="col-md-12" *ngFor="let order of orderRes"> 
        <br>
        <div  class="text-primary" style="margin-left: 60%;">
            <h4><span class="text-dark"> Order Date : </span>
              <span style="color: #4ec67f" > {{order.date | date :"fullDate"}} </span>
            </h4>
          </div>
          <br>
    <table class="table ml-1">
        <thead class="thead-light">
          <tr>
            <th></th>
            <th></th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cart of order.cartData">
            <td style="width: 106px">
              <img class="pl-5" src="{{cart.productId.imageUrl}}" alt="" width="150px" height="100px">
            </td>
            <td>
              <br>
              <div class="text-center " style="color: rgb(17, 77, 85);font-size: 20px">{{cart.productId.productName | uppercase}}</div>
              <br>
            </td>
            <td>
              <br> <span class="text-muted">Rs.{{cart.productId.productCost}}</span>
            </td>
            <td >
              <br>
              <span class="text-muted">{{cart.quantity}} </span>
            </td>
            <td style="width: 120px;color: red">
              <br> Rs.{{cart.totalbill}}
            </td>
            <td>
              <br>
              <!-- <button type="button" class="btn btn-outline-danger btn-sm" (click)="showDialog(cart._id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button> -->
            </td>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Bill Payment was :</th>
            <th style="width: 120px;color: #4ec67f"><strong><h5>Rs. {{order.total}}</h5></strong>
              <br>
            </th>  
            <th> </th>        
          </tr>
        </tbody>
      </table>
      <hr>
      <br>
      <br>
  </div>
  </div>
</section>