
    <!-- <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">List Product</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
        <div class="col-md-10 form-group">
           <h2><label style="text-align: center">Product Details</label></h2>
            <div id="for" class=" form-group">
                <br>
                <div class="col-md-12">
                    <!-- <label>Product Name <span style="color: red;">*</span></label>
                    <input type="text" id="productName" class="form-control col-md-8" formControlName="productName" placeholder="Product Name"> -->
                    <span class="ui-float-label">
                        <input id="productName" formControlName="productName" type="text" class="form-control col-md-8 " size="40" pTooltip="Enter Product Name" pInputText>
                        <label style="color:rebeccapurple" for="float-input">Product Name  <span style="color: red;">*</span></label>
                      </span>
                    <div *ngIf="addProductForm.controls['productName'].touched && !addProductForm.controls['productName'].valid" class="cross-validation-error-message alert alert-danger">
                      <span *ngIf="addProductForm.controls['productName'].hasError('required')">
                        <h6 style="color: red"> Product Name is required</h6>
                      </span>
                      <span *ngIf="addProductForm.controls['productName'].hasError('maxlength')">
                        <h6>max length is 15</h6>
                      </span>
                      <span *ngIf="addProductForm.controls['productName'].hasError('minlength')">
                        <h6>min length is 3</h6>
                      </span>
                    </div>
                    <br>
                </div>
                <!-- <div class="col-md-12">
                    <label>Consumer Name<span style="color: red;">*</span></label>
                    <input type="text" id="consumerName" formControlName="consumerName" class="form-control col-md-8" placeholder="Consumer Name">
                    <div *ngIf="addProductForm.controls['consumerName'].touched && !addProductForm.controls['consumerName'].valid" class="cross-validation-error-message alert alert-danger">
                      <span *ngIf="addProductForm.controls['consumerName'].hasError('required')">
                        <h6 style="color: red"> Consumer Name is required</h6>
                      </span>
                      <span *ngIf="addProductForm.controls['consumerName'].hasError('maxlength')">
                        <h6>max length is 15</h6>
                      </span>
                      <span *ngIf="addProductForm.controls['consumerName'].hasError('minlength')">
                        <h6>min length is 3</h6>
                      </span>
                    </div>
                    <br>
                </div> -->
                <div class="col-md-12">
                    <br>
                    <!-- <label>Product Cost<span style="color: red;">*</span></label>
                    <input type="number" id="productCost" formControlName="productCost" class="form-control col-md-8" placeholder="Product Cost"> -->
                    <span class="ui-float-label">
                        <input id="productCost" formControlName="productCost" type="number" class="form-control col-md-8 " size="40" pTooltip="Enter Product Cost" pInputText>
                        <label style="color:rebeccapurple" for="float-input">Product Cost  <span style="color: red;">*</span></label>
                      </span>
                    <div *ngIf="addProductForm.controls['productCost'].touched && !addProductForm.controls['productCost'].valid" class="cross-validation-error-message alert alert-danger">
                      <span *ngIf="addProductForm.controls['productCost'].hasError('required')">
                        <h6 style="color: red"> Product Cost is required</h6>
                      </span>
                    </div>
                    <br>
                </div>
                <div class="col-md-12">
                  <br>
                  <!-- <label>Description<span style="color: red;">*</span></label>
                  <textarea rows="4" placeholder="Product Description" formControlName="description" id="description" class="form-control col-md-8"></textarea> -->
                  <span class="ui-float-label">
                      <textarea id="description" rows="4" formControlName="description" type="text" class="form-control col-md-8" size="30" pTooltip="Enter Product Description" pInputText></textarea>
                      <label style="color:rebeccapurple" for="float-input">Description <span style="color: red;">*</span></label>
                    </span>
                  <div *ngIf="addProductForm.controls['description'].touched && !addProductForm.controls['description'].valid" class="cross-validation-error-message alert alert-danger">
                    <span *ngIf="addProductForm.controls['description'].hasError('required')">
                      <h6 style="color: red"> Please enter Product Description </h6>
                    </span>
                  </div>
                  <br>
              </div>
              <div class="col-md-12">
                    <br>
                    <!-- <label>Shipping Cost</label>
                    <input type="number" id="shippingCost" formControlName="shippingCost"  class="form-control col-md-8" placeholder="Shipping Cost" value="50"> -->
                    <span class="ui-float-label">
                        <input id="shippingCost" formControlName="shippingCost" type="number" class="form-control col-md-8 " size="40" pTooltip="Enter Shipping Cost" pInputText>
                        <label style="color:rebeccapurple" for="float-input">Shipping Cost</label>
                      </span>
                    <div *ngIf="addProductForm.controls['shippingCost'].touched && !addProductForm.controls['shippingCost'].valid" class="cross-validation-error-message alert alert-danger">
                      <span *ngIf="addProductForm.controls['shippingCost'].hasError('minlength')">
                        <h6>min length is 2</h6>
                      </span>
                    </div>
                    <br>
                </div>
               <!-- <div class="col-md-12">
                    <label>Contact Number<span style="color: red;">*</span></label>
                    <input type="number" id="phNumber" formControlName="phNumber" class="form-control col-md-8" placeholder="Phone Number">
                    <div *ngIf="addProductForm.controls['phNumber'].touched && !addProductForm.controls['phNumber'].valid" class="cross-validation-error-message alert alert-danger">
                      <span *ngIf="addProductForm.controls['phNumber'].hasError('required')">
                        <h6 style="color: red"> Contact Number is required</h6>
                      </span>
                      <span *ngIf="addProductForm.controls['phNumber'].hasError('minlength')">
                        <h6>min length is 10</h6>
                      </span>
                    </div>
                    <br>
                </div> -->
                <div class="col-md-12">
                    <!-- <label>Delievery Status</label>
                    <input type="text" id="delStatus" formControlName="delStatus" class="form-control col-md-8" value="Shipped"> -->
                    <span class="ui-float-label">
                        <input id="delStatus" formControlName="delStatus" type="text" class="form-control col-md-8 " size="40" pTooltip="Enter Delievery Status" pInputText>
                        <label style="color:rebeccapurple" for="float-input">Delievery Status</label>
                      </span>
                    <!-- <span *ngIf="addProductForm.controls['delStatus'].hasError('required')">
                      <h6 style="color: red"> Date is required</h6>
                    </span> -->
                    <br>
                </div>
                <div class="col-md-12">
                    <label>Upload <span style="color: red;">*</span></label>
                    <input type="file" id="imgFile"  (change)="upload($event)"class="col-md-8" #fileInput>
                    <br>
                </div>
                <!-- <div class="col-md-12" formControlName="ImgFile">
                  <label>Date <span style="color: red;">*</span></label>
                  <input type="date" id="date" formControlName="date" class="form-control col-md-8">
                  <div *ngIf="addProductForm.controls['date'].touched && !addProductForm.controls['date'].valid" class="cross-validation-error-message alert alert-danger">
                    <span *ngIf="addProductForm.controls['date'].hasError('required')">
                      <h6 style="color: red"> Date is required</h6>
                    </span>
                  </div>
                  <br>
              </div> -->
                <br>
                <br>
            </div>
            
            <button type="submit" class="btn btn-primary" id="btnAdd" [disabled]="!addProductForm.valid" >Add Product</button>
        </div>
    </form>
