<form [formGroup]="addUserForm" (ngSubmit)="addUser()">
    <div class="col-md-10 form-group">
      <h2><label style="text-align: center">Register User Form</label></h2>
      <br>
      <div id="for" class=" form-group">
        <div class="col-md-12">
          <!-- <label>Full Name</label>
          <input type="text" id="FullName" formControlName="name" class="form-control " placeholder="FullName"> -->
          <span class="ui-float-label">
              <input id="FullName" formControlName="name" type="text" class="form-control col-md-8" size="30" pTooltip="Enter your Full Name" pInputText>
              <label style="color:rebeccapurple" for="float-input">Full Name  <span style="color: red;">*</span></label>
            </span>
          <div *ngIf="addUserForm.controls['name'].touched && !addUserForm.controls['name'].valid" class="cross-validation-error-message alert alert-danger">
            <span *ngIf="addUserForm.controls['name'].hasError('required')">
              <h6 style="color: red"> FullName is required</h6>
            </span>
            <span *ngIf="addUserForm.controls['name'].hasError('maxlength')">
              <h6>max length is 30</h6>
            </span>
            <span *ngIf="addUserForm.controls['name'].hasError('minlength')">
              <h6>min length is 2</h6>
            </span>
          </div>
          <br>
        </div>
        <div class="col-md-12">
          <br>
          <!-- <label>Email</label>
          <input type="text" id="Email" formControlName="email" class="form-control col-md-6" placeholder="Email" email> -->
          <span class="ui-float-label">
              <input id="Email" formControlName="email" type="text" class="form-control col-md-8" size="30" pTooltip="Enter your Email" pInputText>
              <label style="color:rebeccapurple " for="float-input">Email <span style="color: red;">*</span></label>
            </span>
          <div *ngIf="addUserForm.controls['email'].touched && !addUserForm.controls['email'].valid" class="cross-validation-error-message alert alert-danger">
            <span *ngIf="addUserForm.controls['email'].hasError('required')">
              <h6 style="color: red"> Email is required</h6>
            </span>
            <span *ngIf="addUserForm.controls['email'].hasError('email')">
              <h6 style="color: red"> Please Enter valid email</h6>
            </span>
          </div>
          <br>
        </div>
        <div class="col-md-12">
          <br>
          <!-- <label>Username</label>
          <input type="text" id="Username" formControlName="username" class="form-control col-md-6" placeholder="Username"> -->
          <span class="ui-float-label">
              <input id="username" formControlName="username" type="text" class="form-control col-md-8" size="30" pTooltip="Enter Username" pInputText>
              <label style="color:rebeccapurple " for="float-input">Username <span style="color: red;">*</span></label>
            </span>  
          <div *ngIf="addUserForm.controls['username'].touched && !addUserForm.controls['username'].valid" class="cross-validation-error-message alert alert-danger">
            <span *ngIf="addUserForm.controls['username'].hasError('required')">
              <h6 style="color: red"> Username is required</h6>
            </span>
            <span *ngIf="addUserForm.controls['username'].hasError('maxlength')">
              <h6>max length is 15</h6>
            </span>
            <span *ngIf="addUserForm.controls['username'].hasError('minlength')">
              <h6>min length is 3</h6>
            </span>
          </div>
          <br>
        </div>
        <div class="col-md-12">
          <br>
          <!-- <label>Password</label>
          <input type="password" id="Password" formControlName="password" class="form-control col-md-6" placeholder="Password"> -->
          <span class="ui-float-label">
              <input id="Password" formControlName="password" type="password" class="form-control col-md-8" size="30" pTooltip="Enter your password" pInputText>
              <label style="color:rebeccapurple " for="float-input">Password  <span style="color: red;">*</span></label>
            </span>
          <div *ngIf="addUserForm.controls['password'].touched && !addUserForm.controls['password'].valid" class="cross-validation-error-message alert alert-danger">
            <span *ngIf="addUserForm.controls['password'].hasError('required')">
              <h6 style="color: red"> Password is required</h6>
            </span>
            <span *ngIf="addUserForm.controls['password'].hasError('maxlength')">
              <h6>max length is 15</h6>
            </span>
            <span *ngIf="addUserForm.controls['password'].hasError('minlength')">
              <h6>min length is 8</h6>
            </span>
          </div>
          <br>
        </div>
        <div class="col-md-12">
            <br>
            <!-- <label>Role</label>
            <input type="text" id="Role" formControlName="role" class="form-control col-md-6" placeholder="Role"> -->
            <span class="ui-float-label">
                <input id="Role" formControlName="role" type="text" class="form-control col-md-8" size="30" pTooltip="Enter Role(user/admin)" pInputText>
                <label style="color:rebeccapurple " for="float-input">Role  <span style="color: red;">*</span></label>
              </span>
            <div *ngIf="addUserForm.controls['role'].touched && !addUserForm.controls['role'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="addUserForm.controls['role'].hasError('required')">
                <h6 style="color: red"> Please Enter Role</h6>
              </span>
            </div>
            <br>
          </div>    
       
      </div>
      <br>
      <button type="Submit" class="btn btn-primary" id="btnAdd">Add User</button>
    </div>
  </form>
