<footer>
  <div class="row row-30">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
         <a mat-button routerLink=""><span class="fa fa-home fa-lg"></span> Home</a>
       </mat-toolbar-row>
       <mat-toolbar-row>
           <a mat-button routerLink="/gamelist"><span class="fa fa-info fa-lg"></span> Game List</a>
         </mat-toolbar-row>
         <mat-toolbar-row>
             <a mat-button routerLink="/searchgame"><span class="fa fa-list fa-lg"></span> Search Game</a>
           </mat-toolbar-row>
     </mat-toolbar>
  </div>
</footer>