<section>
  <div class="row">
    <div class="col-md-12 text-muted">
      <h2 class="pb-3 mb-4 pt-3 border-bottom text-center">
        Items Added in Cart
      </h2>
    </div>
    <div style="padding-left: 70%;" class="text-primary">
      <h4><span class="text-dark"> Total Bill : </span>
        <span style="color: #4ec67f" > Rs.{{totalbill}} </span>
      </h4>
    </div>

    <div class="container pt-5">
      <div class="row">
        <div class="col-md-6" *ngFor="let cart of cartData">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250" [style]="{width: '100%', height: '300px'}">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">
                <h4>{{cart.productId.productName}}</h4>
              </strong>
              <h6 class="mb-0">
                <strong class="text-primary">
                  <h6>Price for 1 quantity :
                    <a class="text-dark">Rs.{{cart.productId.productCost}}</a>
                  </h6>
                </strong>
                <strong class="text-primary">
                  <h6 class="text-danger">Subtotal :
                    <a class="text-dark">{{cart.totalbill}}</a>
                  </h6>
                </strong>
              </h6>
              <p class="card-text mb-auto text-muted " [style]="{width: '100%', height: '300px'}">
                <span class="text-muted mr-3">Quantity : {{cart.quantity}}</span>
                <!-- <p-spinner size="5" [(ngModel)]="cart.quantity" [min]="1" [max]="10" (onChange)="updateCart(cart.productId._id,cart.productId.productCost,cart.quantity)"></p-spinner> -->
              </p>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="showDialog(cart._id)">
                Remove from Cart
              </button>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{cart.productId.imageUrl}}" style="width: 200px; height: 250px;">
          </div>
        </div>
      </div>
    </div>
    <br>
    <table class="table ml-1">
      <thead class="thead-light">
        <tr>
          <th></th>
          <th></th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Remove Item</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cart of cartData">
          <td style="width: 106px">
            <img class="pl-5" src="{{cart.productId.imageUrl}}" alt="" width="150px" height="100px">
          </td>
          <td>
            <br>
            <div class="text-center " style="color: rgb(17, 77, 85);font-size: 20px">{{cart.productId.productName | uppercase}}</div>
            <!-- <span style="color: rgb(9, 104, 9); font-size: 10px">
              {{cart.productId.status | uppercase}}</span> -->
            <br>

          </td>
          <td>
            <br> Rs.{{cart.productId.productCost}}
          </td>
          <td style="width: 80px">
            <br>
            <p-spinner size="5" [(ngModel)]="cart.quantity" [min]="1" (onChange)="updateCart(cart.productId._id,cart.productId.productCost,cart.quantity)"></p-spinner>
            <!-- {{cart.quantity}} -->
          </td>
          <td style="width: 120px;color: red">
            <br> Rs.{{cart.totalbill}}
          </td>
          <td>
            <br>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="showDialog(cart._id)">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Total:</th>
          <th style="width: 120px;color: #4ec67f"><strong><h5>Rs. {{totalbill}}</h5></strong>
            <br>
            <button type="button" class="btn btn-outline-success btn-sm" [(disabled)]="displayButton" (click)="showDialogAddressModal()">
            Proceed To Checkout <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button></th>  
          <th> </th>        
        </tr>
      </tbody>
    </table>

  </div>
</section>

<p-dialog header="Delete" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
  [maximizable]="false" [baseZIndex]="10000">
  <span>Are you really want to remove this item from cart?</span>
  <p-footer>
    <button type="button" class="btn btn-success" (click)="display=false">No</button>
    <button type="button" class="btn btn-danger" (click)="removeFromCart(id)">Yes</button>
  </p-footer>
</p-dialog>


<p-dialog header="Shipping Address " [(visible)]="displayAddress" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
  [maximizable]="false" [baseZIndex]="10000">
  <span>Shipping Address</span>

  <form  class="address-form" [formGroup]="addressForm"  >
    <div class="col-md-10 form-group">
      <div id="for" class=" form-group">

        <br>
        <span class="ui-float-label">
          <input id="Address" formControlName="address" type="text"  size="30"  pInputText>
          <label style="color:rebeccapurple" for="float-input">Address</label>
        </span>
        <div *ngIf="addressForm.controls['address'].touched && !addressForm.controls['address'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="addressForm.controls['address'].hasError('required')">
            <h6 style="color: red"> Address is required</h6>
          </span>
          <span *ngIf="addressForm.controls['address'].hasError('maxlength')">
            <h6>max length is 80</h6>
          </span>
        </div>

        <br>
        <label style="color:rebeccapurple ; width: 100%;" >Country</label>
        <input type="text" size="30" pInputText [disabled]="disabled"  value="India" />
        <br>

        <br>
        <label style="color:rebeccapurple ; width: 100%;" >State</label>
        <input type="text" size="30" pInputText [disabled]="disabled"  value="Maharashtra" />
        <br>

        <br>
        <label style="color:rebeccapurple ; width: 100%;" >City</label>
        <p-dropdown [options]="cities1" formControlName="city" size="30" ></p-dropdown>
        <br>
        <br>

        <br>
        <span class="ui-float-label">
          <input id="pincode" formControlName="pincode" type="number"  size="30" pTooltip="Enter your pincode"
            pInputText>
          <label style="color:rebeccapurple " for="float-input">Pincode</label>
        </span>
        <div *ngIf="addressForm.controls['pincode'].touched && !addressForm.controls['pincode'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="addressForm.controls['pincode'].hasError('required')">
            <h6 style="color: red"> Pincode is required</h6>
          </span>
          <span *ngIf="addressForm.controls['pincode'].hasError('maxlength')">
            <h6>max length is 6</h6>
          </span>
          <span *ngIf="addressForm.controls['pincode'].hasError('minlength')">
            <h6>min length is 6</h6>
          </span>
        </div>
        <br>
        <button type="button" class="btn btn-danger" (click)="displayAddress=false">Cancel</button>
        <button type="submit" class="btn btn-success ml-3"  [disabled]="!addressForm.valid" (click)= "proceedToCheckout()" >Place Order</button>
      </div>
    </div>
  </form >
<!--   
  <p-footer>
   
  </p-footer> -->
</p-dialog>

<p-dialog header="Place Order" [(visible)]="displayPayment" [modal]="true" [responsive]="true" [width]="550" [minWidth]="200"
  [minY]="70" [maximizable]="false" [baseZIndex]="10000">
  <span>Enter Your Credentials </span>

  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <div class="form-row">
      <label for="card-info" class="text-muted">Card Info</label><br>

      <div id="card-info" style="width: 500px" data-zip-code="false" #cardInfo></div>

      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>
    <br>
    <button type="submit" class="btn btn-outline-primary">Pay Rs.{{totalbill}}</button>
  </form>
</p-dialog>