<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>


<div class="login-form" style="background:url('/assets/electrovilla_images/l9.jpeg');background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;">
  <div class="main-div">
    <div class="panel">
      <h2 style="text-align:center ; color: #3F51B5">Update Profile</h2>
      <p>Please Edit your details</p>
    </div>
    <form [formGroup]="editUserForm" (ngSubmit)="onEdit()">
      <div class="col-md-10 form-group">
        <div id="for" class=" form-group">
          <div class="col-md-12">
            <label>Full Name</label>
            <input type="text" id="FullName" formControlName="fullname" class="form-control" placeholder="fullname" pTooltip="Fullname"
              pInputText>
            <div *ngIf="editUserForm.controls['fullname'].touched && !editUserForm.controls['fullname'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="editUserForm.controls['fullname'].hasError('required')">
                <h6 style="color: red"> FullName is required</h6>
              </span>
              <span *ngIf="editUserForm.controls['fullname'].hasError('maxlength')">
                <h6>max length is 25</h6>
              </span>
              <span *ngIf="editUserForm.controls['fullname'].hasError('minlength')">
                <h6>min length is 7</h6>
              </span>
            </div>
            <br>
          </div>
          <div class="col-md-12">
            <label>Username</label>
            <input type="text" id="FullName" formControlName="username" class="form-control" placeholder="Username" pTooltip="Username"
              pInputText>
            <div *ngIf="editUserForm.controls['username'].touched && !editUserForm.controls['username'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="editUserForm.controls['username'].hasError('required')">
                <h6 style="color: red"> FullName is required</h6>
              </span>
              <span *ngIf="editUserForm.controls['username'].hasError('maxlength')">
                <h6>max length is 25</h6>
              </span>
              <span *ngIf="editUserForm.controls['username'].hasError('minlength')">
                <h6>min length is 7</h6>
              </span>
            </div>
            <br>
          </div>
          <div class="col-md-12">
            <label>Email</label>
            <input type="text" id="email" formControlName="email" class="form-control" placeholder="Email" pTooltip="Email" pInputText>
            <div *ngIf="editUserForm.controls['email'].touched && !editUserForm.controls['email'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="editUserForm.controls['email'].hasError('required')">
                <h6 style="color: red"> Email is required</h6>
              </span>
              <span *ngIf="editUserForm.controls['email'].hasError('email')">
                <h6 style="color: red"> Please Enter valid email</h6>
              </span>
            </div>
            <br>
          </div>
          <div class="col-md-12">
            <label>Password</label>
            <input type="text" id="password" formControlName="password" class="form-control " size="30" pTooltip="Password" placeholder="Password"
              pInputText>
            <div *ngIf="editUserForm.controls['password'].touched && !editUserForm.controls['password'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="editUserForm.controls['password'].hasError('required')">
                <h6 style="color: red"> Password is required</h6>
              </span>
              <span *ngIf="editUserForm.controls['password'].hasError('maxlength')">
                <h6>max length is 15</h6>
              </span>
              <span *ngIf="editUserForm.controls['password'].hasError('minlength')">
                <h6>min length is 8</h6>
              </span>
            </div>
          </div>
          <!-- <div class="col-md-12">
            <br>
            <label>Role</label>
            <input type="text" id="role" formControlName="role" class="form-control col-md-6" placeholder="Role" pInputText>
            <div *ngIf="editUserForm.controls['role'].touched && !editUserForm.controls['role'].valid" class="cross-validation-error-message alert alert-danger">
              <span *ngIf="editUserForm.controls['role'].hasError('required')">
                <h6 style="color: red"> Please Enter Role</h6>
              </span>
            </div>
            <br>
          </div> -->
          <br>
          <br>
        </div>
        <button type="Submit" class="btn btn-primary ml-3" id="btnAdd">Update Profile</button>
      </div>
    </form>
  </div>
</div>