<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> -->

<header>
  <mat-toolbar color="warn" class="Navbar">
    <!-- <a mat-button class="p-0"> -->
      <!-- <span ><img src="../../../../../assets/electrovilla_images/logo.jpeg" height="70px" width="120px" ></span> -->
    <!-- </a> -->
    <a mat-button routerLink="">
      <span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="auth/login">
      <span class="fa fa-sign-in"></span>Login</a>
    <a mat-button routerLink="auth/signup">
      <span class="fa fa-id-card"></span>SignUp</a>
    <a mat-button routerLink="globalpages/services/faq">
      <span class="fa fa-info fa-lg"></span>FAQ</a>
    <!-- <a mat-button routerLink="globalpages/services/privacyPolicy">
      <span class="fa fa-exclamation-circle"></span>Privacy Policy</a> -->
  </mat-toolbar>
  <div class="text-center">
    <h1 class="w3-margin w3-jumbo">ElectroVilla </h1>
    <p class="w3-xlarge">Welcomes you </p>
    <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top" routerLink="auth/login" style="text-decoration: none">Get Explore</a>
  </div>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Electronics are our basic Necessity!</h1>
      <h5 class="w3-padding-32">Electronics are our basic Necessity!</h5>

      <p class="w3-text-grey text-justify">Electronics are the fourth basic necessity of the man-kind. So mush so that life without them seems even harder to
        imagine. The devices like PC, Laptops, Cameras, Mobile phones are not luxury any more. People are already moving
        on to devices like tablets, smartwatches, Fitness bands and so on as the technology keeps advancing by leaps and
        bounds. It is needless to say that usage of Electronics gadgets in India is growing everyday and it's a good sign
        for electronics manufacturers in India. Gadgets like Smartphones, Tablets, Cameras, Music players have become a must-own
        product for people.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Online Electronic Shopping is the Most Common Fad!</h1>
      <h5 class="w3-padding-32">Online Electronic Shopping is the Most Common Fad!</h5>

      <p class="w3-text-grey text-justify">The main advantage of buying electronics online is ease of choosing from the variety of options available. You can
        also compare the latest technology which availble at the tip of your thumb. The electronic gadgets range from mobile
        phones to printers to external storage to laptop bags are all available on websites. The best part about shopping
        online is that whatever you buy online you can get it delivered at your doorstep. You also have the latest DSLR &
        Point and Shoot cameras available from all the leading camera brands like Canon, Nikon, Sony, Olympus and so on.
        Computer accessories like the external storage, Wi-fi routers, keyboards are also available on e-commerce portals.</p>
    </div>
  </div>
</div>


<!-- Grid Image View -->
<!-- <section>
  <div class="row">
    <div class="col-md-12">
     <h3 class="pb-3 mb-4 font-italic border-bottom text-center">
        Product Pallete
     </h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6" *ngFor="let product of productlisting">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary"><h4>{{product.productName}}</h4></strong>
              <h6 class="mb-0">
               <strong class="text-primary"><h5>Price :  <a class="text-dark" href="#">{{product.productCost}}</a> </h5></strong>
              </h6>
              <div class="mb-1 text-muted small">Nov 12</div>
              <p class="card-text mb-auto">{{product.description}}</p>
              <a class="btn btn-outline-primary btn-sm" role="button" href="http://www.jquery2dotnet.com/">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="{{product.imageUrl}}" style="width: 200px; height: 250px;">
          </div>
        </div>
      </div> -->
<!-- <div class="col-md-6">
           <div class="card flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                 <strong class="d-inline-block mb-2 text-success">Health</strong>
                 <h6 class="mb-0">
                    <a class="text-dark" href="#">Food for Thought: Diet and Brain Health</a>
                 </h6>
                 <div class="mb-1 text-muted small">Nov 11</div>
                 <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                 <a class="btn btn-outline-success btn-sm" href="http://www.jquery2dotnet.com/">Continue reading</a>
              </div>
              <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="//placeimg.com/250/250/nature" style="width: 200px; height: 250px;">
           </div>
        </div> -->
<!-- </div>
     </div>
     </section>  -->

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
  <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>



<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p> © Copyright. Reserved all right</p>
</footer>


<!-- 
<div class="container">
  <h1 style="text-align: center ; margin-right: 0%"> Welcome to the E-Product Inventory </h1>
  <br/>
  <hr>
  <br/> -->
<!-- <h3 class="pull-left">
    The new way to plan your next trip <br/>
  </h3>
  <br/>
  <h5 class="pull-left">
    Create a fully customized
    day-by-day itinerary for free </h5> -->
<!-- <img src="../../../../../assets/images/i2.jpg" width="50%" height="60%"/>
</div>
<footer>
  <footer class="md-padding">
    <div class="row row-30">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
           <a mat-button routerLink=""><span class="fa fa-home fa-lg"></span> Home</a>
         </mat-toolbar-row>
         <mat-toolbar-row>
             <a mat-button routerLink="/login"><span class="fa fa-info fa-lg"></span> Login</a>
           </mat-toolbar-row>
       </mat-toolbar>
    </div>
</footer>
</footer> -->