<h1 class="text-center">Product List</h1>
<br>
<p-table [value]="productlisting" [paginator]="true" [rows]="5" class="table" id="tableList">
    <ng-template pTemplate="header" class="thead-dark">
        <tr>
            <th scope="col">Product Image</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Cost (Rs.)</th>
            <th scope="col">Shipping Cost (Rs.)</th>
            <th scope="col">Status</th>
            <th scope="col">Edit / Delete </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>
                <img class="mb-3 ml-2 mt-2" src="{{product.imageUrl}}" alt="" width="100px" height="70px">
            </td>
            <td>{{product.productName}}</td>
            <td>{{product.productCost}}</td>
            <td>{{product.shippingCost}}</td>
            <td>{{product.delStatus}}</td>
            <td>
                <span>
                    <button type="button" class="btn btn-success ml-1 mr-1" [routerLink]="['/dashboard/admin/updateProduct',product._id]"> <i class="fa fa-edit" aria-hidden="true"></i> </button>
                </span>
                <!-- <span>
                    <button type="button" class="btn btn-danger" (click)="deleteItem(product._id)">Delete</button>
                </span> -->
                <button type="button" class="btn btn-danger ml-1 mr-1" (click)="showDialog(product._id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Delete" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
    [maximizable]="false" [baseZIndex]="10000">
    <span>Are you really want to delete this item?</span>
    <p-footer>
        <button type="button" class="btn btn-success" (click)="display=false">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteItem(id)">Yes</button>
    </p-footer>
</p-dialog>