<h1 class="text-center">Blog List</h1>
<br>
<p-table [value]="bloglisting" [paginator]="true" [rows]="5" class="table" id="tableList">
  <ng-template pTemplate="header" class="thead-dark">
    <tr>
      <th scope="col">Blog Image</th>
      <th scope="col">Blog Title</th>
      <th scope="col">Blog Description</th>
      <th scope="col">Date</th>
      <th scope="col">Edit / Delete / Add Comment</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-blog>
    <tr>
      <td>
        <img class="ml-3 mt-3" src="{{blog.imageUrl}}" alt="" width="100px" height="70px">
      </td>
      <td>{{blog.title}}</td>
      <td>
        <p-scrollPanel [style]="{width: '100%', height: '130px'}">{{blog.description}}</p-scrollPanel>
      </td>
      <td>{{blog.date | date:"fullDate"}}</td>
      <td>
        <span>
          <button type="button" class="btn btn-success ml-1 mr-1" [routerLink]="['/dashboard/admin/editblog',blog._id]">  <i class="fa fa-edit" aria-hidden="true"></i></button>
        </span>
        <span>
          <button type="button" class="btn btn-danger ml-1 mr-1" (click)="showDeleteDialog(blog._id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </span>
        <button type="button" class="btn btn-primary ml-1 mr-1" (click)="showDialog(blog._id)">
          <i class="fa fa-comment" aria-hidden="true"></i>
        </button>
      </td>
    </tr>

   

  </ng-template>
</p-table>

<p-dialog header="Delete" [(visible)]="displayDialog" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
[maximizable]="false" [baseZIndex]="10000">
<span>Are you really want to delete this item?</span>
<p-footer>
  <button type="button" class="btn btn-success" (click)="displayDialog=false">No</button>
  <button type="button" class="btn btn-danger" (click)="deleteItem(id)">Yes</button>
</p-footer>
</p-dialog>


<p-dialog header="Comments Box" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="60"
  [maximizable]="true" [baseZIndex]="10000">
  <div class="container">
    <div class="table-responsive">
      <p-table [value]="comments" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
          <tr>
            <th>Comments</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-xy>
          <tr>
            <td>
              <span class="pr-1 ml-1 mb-1 text-muted medium blogdate">
                <strong>{{xy.userName}}</strong>
              </span>
              <br>{{xy.comment}}</td>
          </tr>
        </ng-template>
      </p-table>
      <hr>
    </div>
  </div>
  <p-footer>
    <div>
      <form class="login-form" [formGroup]="addCommentForm" (ngSubmit)="onSubmit(BlogId)">
        <div class="form-group pt-3">
          <span class="ui-float-label">
            <textarea [rows]="3" class="form-control" formControlName="comment" pInputTextarea autoResize="autoResize"></textarea>
            <label for="float-input">Add Comment</label>
          </span>
        </div>
        <div class="form-check pt-0">
          <button type="submit" class="btn btn-danger float-right" [disabled]="!addCommentForm.valid">
            <i class="fa  fa-paper-plane" aria-hidden="true"></i>
          </button>
        </div>
      </form>
      <br>
      <br>
    </div>
  </p-footer>
</p-dialog>