<form [formGroup]="addBlogForm" (ngSubmit)="addBlog()">
  <div class="col-md-10 form-group">
    <h2>
      <label style="text-align: center">Add Blog</label>
    </h2>
    <br>
    <div id="for" class="form-group">
      <div class="col-md-12">
        <span class="ui-float-label">
            <input id="blogtitle" formControlName="blogtitle" type="text" class="form-control col-md-8" size="30" pTooltip="Enter Blog Title" pInputText>
            <label style="color:rebeccapurple" for="float-input">Blog Title <span style="color: red;">*</span></label>
          </span>
        <div *ngIf="addBlogForm.controls['blogtitle'].touched && !addBlogForm.controls['blogtitle'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="addBlogForm.controls['blogtitle'].hasError('required')">
            <h6 style="color: red"> Blog Title is required</h6>
          </span>
          <span *ngIf="addBlogForm.controls['blogtitle'].hasError('minlength')">
            <h6>min length is 3</h6>
          </span>
        </div>
        <br>
      </div>
      <div class="col-md-12">
        <br>
             <span class="ui-float-label">
            <textarea id="description" rows="4" formControlName="description" type="text" class="form-control col-md-8" size="30" pTooltip="Enter Blog Description" pInputText></textarea>
            <label style="color:rebeccapurple" for="float-input">Description <span style="color: red;">*</span></label>
          </span>
        <div *ngIf="addBlogForm.controls['description'].touched && !addBlogForm.controls['description'].valid" class="cross-validation-error-message alert alert-danger">
          <span *ngIf="addBlogForm.controls['description'].hasError('required')">
            <h6 style="color: red"> Please enter Blog Description </h6>
          </span>
        </div>
        <br>
      </div>
      <div class="col-md-12">
          <br>
            <span class="ui-float-label">
              <p-calendar id="Date" formControlName="date" size="30" [showIcon]="true" ></p-calendar>
              <label style="color:rebeccapurple" for="float-input">Date</label>
            </span>
            <div *ngIf="addBlogForm.controls['date'].touched && !addBlogForm.controls['date'].valid" class="cross-validation-error-message alert alert-danger">
                <span *ngIf="addBlogForm.controls['date'].hasError('required')">
                  <h6 style="color: red"> Please Enter Date </h6>
                </span>
              </div>
          <br>
        </div>
    
      <div class="col-md-12">
        <br>
        <div class="col-md-12">
          <label>Upload
            <span style="color: red;">*</span>
          </label>
          <input type="file" id="imgFile" (change)="upload($event)" class="col-md-8" pTooltip="Select File to Upload" #fileInput>
          <img [src]="imgurl" *ngIf='imgurl' placeholder="image" width="200px" height="150px">
          <br>
        </div>
        <br>
      </div>

      <button type="submit" class="btn btn-primary" id="btnAdd" [disabled]="!addBlogForm.valid">Post</button>
    </div>
    </div>
</form>