<h1 class="text-center">User List</h1>
<br>
<p-table [value]="userslisting" [paginator]="true" [rows]="4">
    <ng-template pTemplate="header">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Username</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
            <th scope="col">Status</th>
            <th scope="col">Edit / Delete / Deactivate</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.name}}</td>
            <td>  <p-scrollPanel [style]="{width: '100%'}"> {{user.email}} </p-scrollPanel></td>
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.role}}</td>
            <td>{{user.isDeactivate}}</td>
            <td>
                <span>
                    <button type="button" class="btn btn-success ml-1 mr-1" [routerLink]="['/dashboard/admin/editUser',user._id]">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                    </button>
                </span>

                <button type="button" class="btn btn-danger ml-1 mr-1" (click)="showDialog(user._id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
                <span>
                    <button type="button" class="btn btn-primary ml-1 mr-1 mt-1" (click)="deactivate(user._id)">{{user.isDeactivate == 'Active' ? 'Deactive' : 'Active' }}</button>
                </span>
            </td>

        </tr>
    </ng-template>
</p-table>

<p-dialog header="Delete" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [minWidth]="200" [minY]="70"
    [maximizable]="false" [baseZIndex]="10000">
    <span>Are you really want to delete this user?</span>
    <p-footer>
        <button type="button" class="btn btn-success" (click)="display=false">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser(id)">Yes</button>
    </p-footer>
</p-dialog>