body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.Navbar a{text-decoration:none;
    color:inherit;
    }


     .social-card-header{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 96px;
    }
    .social-card-header i {
        font-size: 32px;
        color:#FFF;
    }
    .bg-facebook {
        background-color:#3b5998;
    }
    .text-facebook {
        color:#3b5998;
    }
    .bg-google-plus{
        background-color:#dd4b39;
    }
    .text-google-plus {
        color:#dd4b39;
    }
    .bg-twitter {
        background-color:#1da1f2;
    }
    .text-twitter {
        color:#1da1f2;
    }
    .bg-pinterest {
        background-color:#bd081c;
    }
    .text-pinterest {
        color:#bd081c;
    }
    .share:hover {
            text-decoration: none;
        opacity: 0.8;
    }