<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> -->


<!-- 
<header>
  <mat-toolbar color="warn" class="Navbar"> 
  
    <a mat-button routerLink="">
      <span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="auth/login">
      <span class="fa fa-sign-in"></span>Login</a>
    <a mat-button routerLink="auth/signup">
      <span class="fa fa-id-card"></span>SignUp</a>
    <a mat-button routerLink="globalpages/services/faq">
      <span class="fa fa-info fa-lg"></span>FAQ</a>
    <a mat-button routerLink="globalpages/services/privacyPolicy">
      <span class="fa fa-exclamation-circle"></span>Privacy Policy</a>
  </mat-toolbar>
  <div class="text-center">
    <h1 class="w3-margin w3-jumbo">ElectroVilla </h1>
    <p class="w3-xlarge">Welcomes you </p>
    <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top" routerLink="auth/login" style="text-decoration: none">Get Explore</a>
  </div>
</header> -->

<div class="col-md-12 text-muted">
    <h2 class="pb-3 mb-4 pt-3 border-bottom text-center">
        Frequently Asked Questions
    </h2>
  </div>

  
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>What is Selling on Electrovilla?</h1>
      <h5 class="w3-padding-32">Electronics are our basic Necessity!</h5>

      <p class="w3-text-grey text-justify">Selling on Electrovilla is a program that enables both individuals and businesses to sell their products and inventory on Electrovilla.com.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Why should I sell on Electrovilla?</h1>
      <h5 class="w3-padding-32">Online Electronic Shopping is the Most Common Fad!</h5>

      <p class="w3-text-grey text-justify">There are many reasons to sell on Electrovilla—from the hundreds of millions of Electrovilla customers who can see your products to the ability to start selling fast without the need to create a new standalone website. Learn more about the benefits of Selling on Electrovilla.</p>
    </div>
  </div>
</div>



<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
  <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>



<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p> © Copyright. Reserved all right</p>
</footer>

