<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<header>
  <mat-toolbar color="warn" class="Navbar ">
    <a mat-button routerLink="/dashboard/user/">
      <span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="/dashboard/user/listblog">
      <span class="fa fa-id-card"></span> Blog</a>
    <a mat-button routerLink="/dashboard/user/listcart">
      <span class="fa fa-shopping-cart"></span> Cart</a>
    <div class="dropdown">
      <button class="dropbtn fa fa-user-circle " style="display: block;">
      Welcome {{userName}}<span class="fa fa-angle-down"> </span> 
      </button>
      <div class="dropdown-content">
          <a mat-button routerLink="/dashboard/user/ordersummary" >
            <span class="fa fa-shopping-bag ml-0"></span> Order Summary</a>
        <a mat-button [routerLink]="['/dashboard/user/editprofile',userId]">
          <span class="fa fa-edit ml-0"></span> Edit Profile </a>
        <a mat-button (click)="onLogout()">
          <span class="fa fa-sign-out ml-0"></span> Log Out</a>
      </div>
    </div>


  </mat-toolbar>
</header>

<div>
  <router-outlet></router-outlet>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p> © Copyright. Reserved all right</p>
</footer>