<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body class="forgotPasswordForm" style="background:url('/assets/electrovilla_images/l9.jpeg');background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;">

  <br>
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2 style="text-align:center ; color: #3F51B5">Forgot Password</h2>
        <p>Please enter your email</p>
      </div>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
        <div class="form-group">
          <br>
          <span class="ui-float-label">
            <input id="email" formControlName="email" type="text" class="form-control" size="30" pTooltip="Enter your Email" pInputText>
            <label style="color:#3F51B5 " for="float-input">Email</label>
          </span>
          <div *ngIf="forgotPasswordForm.controls['email'].touched && !forgotPasswordForm.controls['email'].valid" class="cross-validation-error-message alert alert-danger">
            <span *ngIf="forgotPasswordForm.controls['email'].hasError('required')">
              <h6 style="color: red"> Email is required</h6>
            </span>
            <span *ngIf="forgotPasswordForm.controls['email'].hasError('email')">
              <h6 style="color: red"> Please Enter valid email</h6>
            </span>
          </div>
          <br>
          <br>
          <!-- <div class="forgot">
            <a routerLink="auth/forgotPassword">Forgot password?</a>
          </div> -->
          <span>
            <input type="Submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.valid" id="btnAdd" value="Request for Reset Password">
          </span>
        </div>
      </form>
    </div>
    <p class="botto-text">
      <strong>
        <h6>Designed by Saurabh Udapure </h6>
      </strong>
    </p>
  </div>
  <section>
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
  </section>
</body>